{% extends 'main.html' %}

{% block title %}Удаление статьи :: {{ blog.title }}{% endblock %}

{% block main %}

    <h2>Удаление статьи</h2>
    <h4>{{ blog.title }}</h4>

    <p class="username">
        {% if blog.user.get_full_name %}
            {{ blog.user.get_full_name }}
        {% else %}
            {{ blog.get_username }}
        {% endif %}
    </p>
    <div>{{ blog.content|safe }}</div>
    <p class="posted">{{ blog.posted|date:'j.m.Y H:i' }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
    </form>

    <p>
        <a href="{% url 'blog_index' %}?page={{ pn }}

            {% if search %}
                &search={{ search }}
            {% endif %}

        ">Назад</a>
    </p>

{% endblock %}