{% extends 'main.html' %}

{% block title %}{{ object.name }} :: {{ object.category.name }}{% endblock %}

{% block main %}

    <h2>{{ object.name }}</h2>
    <p>Категория: {{ object.category.name }}</p>

    <div class="good-images">
        <div>
            <img src="{{ object.image.url }}" alt="{{ object.name }}">
        </div>

        {% for goodimage in object.goodimage_set.all %}
            <div>
                <img src="{{ goodimage.image.url }}" alt="{{ goodimage.name }}">
            </div>
        {% endfor %}

    </div>

    <div>{{ object.content|safe }}</div>

    <p>
        Цена, р.:
        {% if object.price_acc > 0 %}
            <span class="old-price">{{ object.price }}</span> &nbsp;&nbsp; {{ object.price_acc }}
        {% else %}
            {{ object.price }}
        {% endif %}
    </p>

    {% if object.in_stock %}
        <p>Нет в наличии.</p>
    {% endif %}

    <p>
        <a href="{% url 'goods_index' object.category.pk %}?page={{ pn }}&sort={{ sort }}&order={{ order }}">Назад</a>
    </p>



{% endblock %}