{% extends 'main.html' %}

{% block title %}Обновление товара :: {{ good.name }}{% endblock %}

{% block main %}

    <h2>Обновление товара</h2>

    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% include 'generic/form.html' %}
            {% include 'generic/formset.html' %}

            <div class="submit-button">
                <input type="submit" value="Обновить">
            </div>
        </form>
    </div>

    <p>
        <a href="{% url 'goods_index' good.category.pk %}?page={{ pn }}&sort={{ sort }}&order={{ order }}">Назад</a>
    </p>

{% endblock %}