body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
}

.form-field {
    width: 100%;
    margin: 20px 0;
}

.form-field .help {
    font-size: smaller;
    font-style: italic;
}

.form-field .label {
    margin-bottom: 2px;
}

.form-field .control input[type=text],
.form-field .control input[type=password],
.form-field .control input[type=number],
.form-field .control input[type=file],
.form-field .control textarea,
.form-field .control select,
.submit-button {
    width: 100%;
}

.error-list .error-description {
    color: #ff0000;
}
