.site-header {
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

.site-header h1 {
    margin: 20px 0;
    letter-spacing: .2em;
}

.leftmenu {
    float: left;
    width: 100px;
    padding: 10px;
}

.leftmenu ul {
    margin: 0;
    padding: 0;
}

.leftmenu li {
    font-size: larger;
    list-style-type: none;
    margin: 0 10px;
}

.leftmenu li.indented {
    margin-top: 20px;
}

.leftmenu a {
    display: block;
}

.leftmenu a:link,
.leftmenu a:visited,
.leftmenu a:active,
.leftmenu a:hover {
    text-decoration: none;
}

.leftmenu a:link,
.leftmenu a:visited {
    color: #0000ff;
    background-color: #fff;
}

.leftmenu a:active,
.leftmenu a:hover {
    color: #ffffff;
    background-color: #000;
}

.leftmenu a.current:link,
.leftmenu a.current:visited,
.leftmenu a.current:active,
.leftmenu a.current:hover {
    color: #000000;
    background-color: #ffffff;
}

.site-main {
    margin-left: 110px;
    border-left: 1px solid #cccccc;
    padding: 10px;
}

.site-main h2:first-child {
    margin: 0 0 10px;
}

.site-footer {
    text-align: right;
    border-top: 1px solid #cccccc;
    padding-right: 10px;
}

.site-footer p {
    font-size: smaller;
    font-style: italic;
}

/*
 * guestbook
*/

.form {
    width: 400px;
    margin: 20px 0;
    border-collapse: collapse;
}

.bottom-indent {
    margin-bottom: 50px;
}

.guestbook {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}

.guestbook .user {
    font-weight: bold;
}

.guestbook .posted {
    font-style: italic;
    text-align: right;
    width: 200px;
}

.guestbook .content {
    padding-top: 20px;
}

.honeypot {
    display: none;
}

#messages-list {
    background-color: #eeeeee;
    padding: 5px;
}

#messages-list .error {
    color: #ff0000;
}

#pagination {
    margin-top: 20px;
}

#pagination #previous-page {
    float: left;
}

#pagination #num-pages {
    text-align: center;
}

#pagination #next-page {
    float: right;
}

/*
 * news
*/

.posted {
    font-style: italic;
    text-align: right;
}

.buttons {
    text-align: right;
}

/*
 * imagepool
*/

#imagepool_output {
    display: none;
}

#imagepool_image_list {
    margin-top: 60px;
}

#imagepool_image_list td {
    text-align: center;
    width: 160px;
    height: 120px;
}

#imagepool_image_list td.link {
    font-size: xx-large;
    width: 20px;
}

#imagepool_image_list td img {
    max-width: 160px;
    max-height: 100px;
}

#imagepool_image_list td a:link,
#imagepool_image_list td a:visited,
#imagepool_image_list td a:active,
#imagepool_image_list td a:hover {
    text-decoration: none;
}

#imagepool_image_list td a.disabled:link,
#imagepool_image_list td a.disabled:visited,
#imagepool_image_list td a.disabled:active,
#imagepool_image_list td a.disabled:hover {
    display: none;
}


/*
 * categories
*/

.form th,
.form td{
    padding: 10px;
    border: 1px solid #cccccc;
}

.form th:first-child,
.form td:first-child{
    display: none;
}
