{% extends 'base.html' %}
{% load staticfiles %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <header class="site-header">
        <h1>Веник-Торг</h1>
    </header>

    <aside class="leftmenu">
        <ul>
            {% url 'main' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                Главная
                </a>
            </li>

            {% url 'news_index' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                Новости
                </a>
            </li>

            {% url 'blog_index' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                Блог
                </a>
            </li>

            {% url 'guestbook' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                Гостевая книга
                </a>
            </li>

            {% url 'about' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                О нас
                </a>
            </li>

            {% url 'howtobuy' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                Оплата
                </a>
            </li>

            {% url 'contacts' as page_url %}
            <li>
                <a href="{{ page_url }}"
                    {% if page_url == current_url %}
                        class="current"
                    {% endif %}
                >
                Контакты
                </a>
            </li>

            {% if user.is_authenticated %}
                {% url 'categories_edit' as page_url %}
                <li class="indented">
                    <a href="{{ page_url }}"
                       {% if page_url == current_url %}
                           class="current"
                       {% endif %} 
                    >
                        Категории
                    </a>
                </li>
                <li class="indented"><a href="/admin/">Админка</a></li>
                <li class="indented"><a href="{% url 'logout' %}">Выйти</a></li>
            {% endif %}
        </ul>
    </aside>

    <main class="site-main">
        {% block main %}{% endblock %}
    </main>

    <footer class="site-footer">
        <p>Все права бла-бла-бла</p>
    </footer>
{% endblock %}